.imagenes-fans {
    background-color: $color-fondo;
    height: 350px;
    display: grid;
    grid-template-rows: 70px 70px 70px 70px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .fan-una {
        background-color: antiquewhite;
        grid-column: 1 / 5;
        grid-row: 2/4;
        height: 225px;
        width: 225px;
    }
    .fan-dos {
        background-color: antiquewhite;
        grid-column: 3 / 5;
        grid-row: 2/4;
        height: 225px;
        width: 225px;
    }
}



.harry {
    background-color: $color-fondo;
    display: grid;
    grid-template-rows: 70px 70px 70px 70px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.harrygrande {
    grid-column: 3 / 5;
    grid-row: 1/4;

}

.harrybb {
    grid-column: 1 / 4;
    grid-row: 1/4;
}
img {
    height: 250px;
    width: 200px;
}
